body {
padding-top: 54px;
width:100%;
word-wrap: break-word;
}

table {
min-width:100%;
}


pre {
white-space: pre-wrap;       /* Since CSS 2.1 */
white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
word-break:keep-all;
}

#top {
z-index:99;
position:fixed;
bottom:1rem;
right:1rem;
display:none;
}

@media (min-width: 992px) {
  body {
  padding-top: 56px;
  }
}

.bg-image-full {
background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
}

.container img {
width:100%;
}

.img_small {
  width:auto !important; 
}

.flex-main {
flex:1;
padding:1em;
padding-bottom:5em;
}

.flex-widget {
flex:.50;
padding:1em;
}

.greenText {
color: #27AE60;
font-weight:bold;
}

.html {
background-color:#34495e;
color:white;
}

.pagination {
margin-bottom: 15px;
}
